* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
}
.parent {
    position: relative;
}
:root 
body::after {
    content: "";
    position: absolute;
    width: 370px;
    height: 530px;
    left: -62px;
    top: 0;
    background-image: linear-gradient(#c340fe, #973bfe);
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px; 
}
body::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 450px;
    right: -30px;
    bottom: 0px;
    opacity: 10%;
    background-color: #973bfe;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px; 
}

.phone {

}
.text {
    
}
.text h3 {
    margin-left: 48rem;
    margin-top: 13rem;
    font-size: 28px;
    font-weight: bold;
}
.text h5 {
    margin-left: 770px;
    margin-right: 180px;
    margin-top: 20px;
    line-height: 20px;
    opacity: 40%;
    font-weight: 600;
    font-size: 13px;
}
.phone {
    position: absolute;
}
.carcas {
    position: relative;
    width: 235px;
    height: 400px;
    background-color: white;
    margin-top: -250px;
    margin-left: 270px;
    z-index: 1;
    border-radius: 18px;
    box-shadow: 0px 0px 30px rgba(205, 200, 200, 0.939);
}
.title {
    position: absolute;
    display: flex;
    background-image: linear-gradient(to right, #973bfe, #d742fe);
    margin-left: 11px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.title .f-im {
    width: 12px;
    height: 12px;
    margin-top: 18px;
}
.title .s-im {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid white;
    margin-top: 12px;
    margin-left: 4px;
    margin-right: 12px;

}
.title h5 {
   font-size: 10px;
   margin-top: 10px;
   color: white;
}
h6 {
    margin-top: 24px;
    margin-left: -65px;
    margin-right: 29px;
    font-size: 6px;
    color: white;
    opacity: 30%;
}
.title .th-im {
    margin-left: 38px;
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 46px;
}
.title::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 22px;
    background-color: white;
    top: -8px;
    left: 45px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.conversation {
   position: relative;
   margin-left: 80px;
}
.conversation .message-one {
    
}
.conversation .message-one h6 {

}
.conversation .message-two {
    
}
.conversation .message-two h6 {
    
}
.dogs {
    
}
.dogs .a {
    width: 20px;
    height: 20px;
}
.dogs .b {
    width: 20px;
    height: 20px;
}
.dogs .c {
    width: 20px;
    height: 20px;
}
.conversation .message-three {
    
}
.conversation .message-three h6 {

}
.conversation .message-four {
    
}
.conversation .message-four h6 {

}
.conversation .message-five {
    
}
.conversation .message-five h6 {

}
.price-one {
    
}
.price-one i {

}
.price-one h6 {

}
.price-one h4 {

}
